{% extends "base.html" %}

{% block title %}
داشبورد
{% endblock %}

{% block content %}

<div class="container py-5">

<h2 class="mb-5">

داشبورد من

</h2>

<div class="card shadow">

<div class="card-body">

<table class="table">

<thead>

<tr>

<th>کد رهگیری</th>

<th>خدمت</th>

<th>وضعیت</th>

<th>تاریخ</th>

</tr>

</thead>

<tbody>

{% for order in orders %}

<tr>

<td>

{{ order.tracking_code }}

</td>

<td>

{{ order.service }}

</td>

<td>

{{ order.get_status_display }}

</td>

<td>

{{ order.created_at|date:"Y/m/d" }}

</td>

</tr>

{% empty %}

<tr>

<td colspan="4">

هنوز سفارشی ثبت نکرده‌اید.

</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

</div>

</div>

{% endblock %}